# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so

# --- Virtual Environment ---
venv/
env/
.venv/

# --- Machine Learning and Data ---
*.pth
*.h5
*.onnx
*.pkl

data/
logs/
tensorboard/

# --- IDE and System Files ---
.vscode/
.idea/
.DS_Store
Thumbs.db
